[submodule "pkg/openfast/openfast"]
	path = pkg/openfast/openfast
	url = https://github.com/OpenFAST/openfast.git
[submodule "pkg/turbsim/TurbSim"]
	path = pkg/turbsim/TurbSim
	url = https://github.com/old-NWTC/TurbSim.git
